.tabla {
    grid-area: poster;
    justify-self: center;
    background-color: white;
    font-size: 25px;
}

.tabla {
    tbody {
        tr {
            td{
                padding: 20px;
            }
        }
    }
}